<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @item.path == '/' ? "Linked Data Fragments"
                               : "Linked Data Fragments | #{@item[:title]}" %></title>
  <link rel="stylesheet" href="/styles/main.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700' rel='stylesheet'>
  <meta name="viewport" content="initial-scale=1">
</head>
<body class="<%= @item[:title].downcase.gsub(/[^a-z]/, '') %>">
  <nav>
    <p><a href="/">Linked Data Fragments</a></p><%
    %><ul>
      <% @items.find_all{|c| c[:extension] =~ /^md/}.
                sort{|a,b| a[:filename] <=> b[:filename]}.
                sort{|a,b| (a[:order] || 10) <=> (b[:order] || 10)}.
                each do |page|
         %><li<%= @item == page ? ' class="active"' : '' %>><%= link_to(page[:title], page.reps[0]) %></li><%
      end %>
    </ul>
  </nav>
  <main>
    <% unless @item[:header] == false %>
      <h1><%= h @item[:title] %></h1>
    <% end %>
    <%= yield %>
  </main>
  <footer>
    <p>
      ©2013–<%= Time.now.year %>
      <a href="http://multimedialab.elis.ugent.be/">Multimedia Lab</a>,
      <a href="http://www.ugent.be/">Ghent University</a> –
      <a href="http://www.iminds.be/">iMinds</a>, Belgium
    </p>
  </footer>
</body>
</html>
